:root {
    --light: #EEE;
    --dark: #1d4064;
    --danger: #ff807d;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Text */
.kr {
    font-family: 'Nanum Gothic', sans-serif;
}

.card-text{
  font-size:3rem;
  font-weight: 600;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

h1, h2, h3 {
    font-family: 'Fredoka', sans-serif;
}

/* Body */

body {
    background-color: #f9f0e1;
}

/* Section */
.section {
    background-color: whitesmoke;
    width: 60%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-top: 3%;
    margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
  min-height: 500px;
}

/* Button */
.button_progress{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.15em solid var(--dark);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    color:whitesmoke;
    background-color:var(--dark);
    border-radius: 0.5rem;
    text-decoration:none;
    font-weight:700;
    text-align:center;
    transition: all 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .button_progress:hover{
      color:var(--dark);
      background-color: whitesmoke;
      cursor:pointer;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transform: scale(1.1); 
      }
      @media all and (max-width:30em){
      .button{
      display:block;
      margin:0.4em auto;
      }
      }
.funky {
    font-family: 'Fredoka', cursive;
    letter-spacing: 2px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.15em solid var(--danger);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    background-color:var(--danger);
    border-radius: 0.5rem;
    text-decoration:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-weight:700;
    color:whitesmoke;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    color:whitesmoke;
    background-color: var(--danger);
    cursor:pointer;
    transform: scale(1.1); 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: whitesmoke;
    display: none;
    overflow: hidden;
  }

.prompt {
    /* background-color: var(--danger); */
    font-size:4.5rem;
    text-align: center;
    color:var(--dark);
    display: inline-flex;
    border-radius: 0.5rem;
}
.prompt2 {
    /* background-color: var(--danger); */
    font-size:4.5rem;
    text-align: center;
    color:var(--dark);
    display: inline-flex;
    border-radius: 0.5rem;
}
.prompt3 {
  /* background-color: var(--danger); */
  font-size:4.5rem;
  text-align: center;
  color:var(--dark);
  display: inline-flex;
  border-radius: 0.5rem;
}

.quiz{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* margin-top: 10%; */
    width:70%;
    text-align: center;
    justify-content: center;
    margin-left:16%;
    margin-bottom:10%;
}

.button_quiz {
    display:inline-block;
    padding:0.35em 1.2em;
    border:whitesmoke;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    text-decoration:none;
    font-weight:700;
    color:var(--dark);
    text-align:center;
    transition: all 0.2s;
    margin-bottom:10%;
    font-size: 2.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .button_quiz:hover{
      color:whitesmoke;
      background-color:var(--dark);
      cursor:pointer;
      }
      @media all and (max-width:30em){
      .button{
      display:block;
      margin:0.4em auto;
      }
      }
.column {
        float: left;
        width: 50%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
#myProgress {
    width: 20%;
}
      
#myProgress {
    width: 230%;
    border-style: solid;
    border-width: 5%;
    border-color: var(--dark);
    border-radius: .7rem;
    transform: rotate(-90deg);
    margin-top:40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  #myBar {
    width: 10%;
    height: 30px;
    /* background-color: #04AA6D; */
    background-image: linear-gradient(to right, var(--dark) , var(--danger));
    border-radius:.5rem;
  }
  #myBar2 {
    width: 10%;
    height: 30px;
    /* background-color: #04AA6D; */
    background-image: linear-gradient(to right, var(--dark) , var(--danger));
    border-radius:.5rem;
  }
  #myBar3 {
    width: 10%;
    height: 30px;
    /* background-color: #04AA6D; */
    background-image: linear-gradient(to right, var(--dark) , var(--danger));
    border-radius:.5rem;
  }

.memory-game {
  display: flex;
  min-height: 600px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  perspective: 1000px;
}

.memory-card {
  margin: 5px;
  width:20%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: .5rem;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-sizing: border-box;
}

.memory-card:active {
  transform: scale(.97);
  transition: transform .2s;
}

.memory-card:hover {
  cursor: pointer;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face, .back-face {
  border-radius: .5rem;
  position:absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front-face {
  background-color: #c1d5e9;
  transform: rotateY(180deg);
  color:#123c69;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.back-face {
  box-sizing: border-box;
  background-color:#c1d5e9;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.scene {
  width: 300px;
  height: 320px;
  margin: 40px 0;
  perspective: 600px;
}

.card1 {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card1.is-flipped {
  transform: rotateY(180deg);
}

.card2 {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card2.is-flipped {
  transform: rotateY(180deg);
}

.card3 {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card3.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
  color: var(--dark);
  background-color:#c1d5e9;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: .5rem;
}

.card__face--front {
  /* background-color: var(--danger); */
  color:var(--danger);
  background-color:#ffe6e5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: .5rem;
}
.hoveraudio {
  position: relative;
  border-bottom: 1px dotted black;
}

.hoveraudio:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  color: var(--dark);
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity .5s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hoveraudio:hover:before {
  opacity: 1;
  visibility: visible;
}

.hovernextcard {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovernextcard:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  color: var(--dark);
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity .5s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovernextcard:hover:before {
  opacity: 1;
  visibility: visible;
}

.hovernextcard1{
  position: relative;
}

.hovernextcard1:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  color: var(--dark);
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity .5s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovernextcard1:hover:before {
  opacity: 1;
  visibility: visible;
}